html,body{
	background:url(../images/poly-green2.jpg);
	background-size: cover;
}
*{
	-webkit-transition:all 0.25s ease-in;
	-moz-transition:all 0.25s ease-in;
	-o-transition:all 0.25s ease-in;
	transition:all 0.25s ease-in;
}
a:focus, a:active{
	outline:none;
}
.paddingReset{
	margin-left:0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
.mainContainer{
	margin-bottom:80px;
}
.title{
	font-family:'Walter Turncoat',sans-serif;
	color:#fff;
}
.header  .title{
	line-height: 1.5;
	margin-top:28px;
}
.header .k-icon{
	width:250px;
	height:auto;
	margin-top:-10px;
}
.k-icon{
	margin-right:5px;
}
.header .si-icon{
	margin-left:0px;
}
.header .ctf-icon{
	width:180px;
	height:auto;
	margin-top:20px;
}
/*video*/
.video-box video{
	margin-top:30px;
	width:100%;
	height:auto;
	border:3px solid #fff;
	box-shadow: 0px 3px 3px rgba(255,255,255,0.3);
}
.desc-box{
	background:rgba(0,0,0,0.3);
	padding:20px;
	margin-top:28px;
	}
.desc-box p{
	color:#fff;
	font-family:'Walter Turncoat',sans-serif;
	font-size:2rem;
	line-height:1.5;
}
ul{
	list-style: none;
	}
.navbar .nav-icon{
	display: inline;
	float:left;
	background: rgba(0,0,0,0.4);
	padding:10px;
	}
.navbar .nav-icon:hover{
	background: rgba(0,0,0,0.7);
}
.nav-icon:nth-child(odd)
{
	-webkit-transform:skew(20deg);
	transform:skew(20deg);

}
.nav-icon:nth-child(even)
{
	-webkit-transform:skew(-20deg);
	transform:skew(-20deg);
	
}

.nav-icon .title:nth-child(odd){

	-webkit-transform:skew(20deg);
	transform:skew(20deg);
}
.nav-icon .title:nth-child(even),.nav-icon img:nth-child(odd){

	-webkit-transform:skew(-20deg);
	transform:skew(-20deg);
}
a{
	cursor: pointer;
}
/*tweets caro*/
.tweets-caro{
	position:fixed;
	height:50px;
	padding-bottom:10px;
	overflow:hidden;
	bottom:0;
	background:rgba(89,190,114,1);
	margin-bottom:0;
	-webkit-transform:skew(20deg);
	transform:skew(20deg);
}
.tweets-caro .title{
	color:#fff;
	padding:5px;
	display:inline;
	float:left;
	-webkit-transform:skew(-20deg);
	transform:skew(-20deg);
}
.down{
	color:#fff;
	margin-left: 50%;
	margin-right: 50%;
	cursor: pointer;
	margin-bottom:50px;
}
.down:hover{
	color:rgba(0,0,0,0.8);
}
/*sponsors*/
.sponsors{
	margin-top:30px;
	margin-bottom:80px;
}
.sponsor img{
	margin-right:10px;
	margin-bottom:10px;
	opacity:0.7;
	width:220px;
}
.sponsor img:hover{
	opacity: 1;
}
/*social*/
.social-icons li{
	display: inline;
	float:right;
	margin-right:30px;
}
.school-form{
	margin-top:30px;
}
.school-form input{
	background: rgba(0, 0, 0, 0.698) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: block;
    font-family: "Walter Turncoat";
    font-size: 2.5rem;
    height: 50px;
    letter-spacing: 2.5px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}
.footer{
	background:rgba(0,0,0,1);
	color:#fff;
	font-family: 'Walter Turncoat',sans-serif;
	height:50px;
	padding-top:20px;
	padding-left:10px;
}
/*media queries*/
@media all and (max-width: 640px) and (min-width: 320px) {
.sponsor img{
	margin-left:0;
	}
	.nav-icon h4{
		font-size:1.5rem !important;
		line-height: 1.5;
	}
}

@media all and (min-width: 960px) {
.sponsor img,.school-form input{
	margin-left:60px;
	}
	#allcollabs .title{
		line-height:3.5;
	}
	#allcollabs  .ind, #allschools .ind{
		margin-left:200px;
		margin-right:-100px;
	}

}